{% extends 'back-office/base.html.twig' %}

{% block title %}
	Liste des articles
{% endblock %}

{% block body %}
	<section class="features-section mb-4">
		<div class="container text mx-auto">
			<h2 class="section-title mb-8">Liste des articles</h2>
			<table class="row justify-content-center table-hover ">
				<thead class="thead-dark">
					<tr>
						<th scope="col">#</th>
						<th scope="col">Titre</th>
						<th scope="col">Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for article in articles %}
						<tr>
							<td class="text-secondary mb-3">{{ article.id }}</td>
							<td class="section mb-3">{{ article.title }}</td>
							<td class="text-secondary mb-3">{{ article.getCreatedAt|date('d-m-Y') }}</td>
							<td>
								<a href="{{ path('app_back_articles_edit', {'id' :article.id}) }}" class="btn btn-rounded btn-quiz bi bi-pencil mb-3"></a>
								{% include 'fragments/_confirm_action.html.twig' with {
                                confirmationMessage: 'Voulez-vous vraiment supprimer ?',
                                actionUrl: path('app_back_articles_delete', {'id': article.id}),
                                buttonLabel: ''} %}
                            
							</td>
						</tr>
					{% endfor %}
				</tbody>
		</div>
</table>

<a type="button" class="btn btn-rounded btn-quiz" data-mdb-ripple-init data-mdb-ripple-color="dark" href="{{ path('app_back_articles_add') }}">Ajouter un nouvel article</a>
</section>
{% endblock %}
