{% extends 'back-office/base.html.twig' %}

{% block title %}
	Liste des utilisateurs
{% endblock %}

{% block body %}
	<section class="features-section mb-4">
		<div class="container text mx-auto">
			<h2 class="section-title mb-8">Liste des utilisateurs</h2>
			<table class="row justify-content-center table-hover ">
				<thead class="thead-dark">
					<tr>
						<th scope="col">#</th>
						<th scope="col">Titre</th>
						<th scope="col">Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for user in users %}

						<tr>
							<td class="text-secondary mb-3">{{ user.id }}</td>
							<td class="section mb-3">{{ user.firstName }}</td>
							<td class="section mb-3">{{ user.lastName }}</td>
							<td class="section mb-3">{{ user.email }}</td>
							<td class="section mb-3">{{ user.roles ? user.roles|json_encode : '' }}</td>
							<td>
								<a href="{{ path('app_back_users_edit', {'id' :user.id}) }}" class="btn btn-outline-secondary btn-rounded mb-3">Editer</a>
								<a href="{{ path('app_back_users_delete', {'id' :user.id}) }}" class="btn btn-outline-secondary btn-rounded mb-3">Supprimer</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</div>
		</tbody>
	</table>
	
</section>{% endblock %}
