{% extends 'base.html.twig' %} {% block title %}Articles{% endblock %} {% block body %}
	<div class="my-4" id="scroll-point">
		{{ '<br>
		'|raw }}
	</div>
	<section class="py-3 py-md-5">
		<div class="container overflow-hidden">
			<div class="row g-4">
				{% for article in articles %}
				<div class="col-12">
					<div class="row align-items-center {% if loop.index is odd %}gx-md-4{% else %}flex-row-reverse gx-xl-5â{% endif %} article-card">
						<div class="col-xs-12 col-md-6">
							<div class="img-wrapper position-relative bsb-hover-push">
								<a href="#!"><img alt="Mobirise Website Builder" class="img-fluid rounded" src="https://i.ibb.co/MBGNWWD/ibrick.png"></a>
							</div>
						</div>
						<div class="col-xs-12 col-md-6">
							<div>
								<h2 class="h3 mb-3"><a class="link-dark text-decoration-none" href="#!">{{article.title}}</a></h2>
								<p class="mb-3">{{ (article.content|slice(0, 150)) ~ '...' }}</p>
								<p class="text-secondary mb-1">Créé le : {{article.getCreatedAt|date("d-m-Y")}}</p>{% if article.getUpdatedAt %}
								<p class="text-secondary mb-1">Mis à jour le : {{article.getUpdatedAt|date("d-m-Y")}}</p>{% endif %}
								<div class="section-btn mt-3">
									<a class="btn btn-rounded btn-quiz" data-mdb-ripple-color="white" data-mdb-ripple-init="" href="{{path('app_article_show',{'categorySlug':article.category.slug,'articleSlug':article.slug})}}">Lire la suite</a>
								</div>
							</div>
						</div>
					</div>{% endfor %}
				</div>
			</div>
		</div>
	</section>{% endblock %}