{% extends 'base.html.twig' %}

{% block title %}
  Résultat du quiz
{% endblock %}

{% block body %}
<section class="features-section m-4" >
  <div class="container-fluid">
    <div id="scroll-point" class="my-4">{{ '<br>'|raw }}</div>

    <h1 class="text-center mb-4">Résultat de votre Quiz</h1>

    <div class="card mx-auto mb-4" style="width: 30rem;">
      <p class="card-text text-center fw-bolder p-4 fs-1">résultat :
        {{ score }}
        /10</p>
      {% if score <= 5 %}
        <p class="text-center p-1">Chat! C'est pas terrible tu peux faire mieux !</p>
        <img src="{{ asset('images/gifs/defeat.png') }}" class="card-img-top" id="img-quiz" alt="succes" />
        <audio src="{{ asset('images/soundstracks/avocat_per_1702569485_657b260d14105.mp3') }}" autoplay></audio>
        <div class="card-body text-center">
          <a href="{{ path('app_categorie', { categorySlug: quiz.link }) }}" class="btn btn-quiz">{{ quiz.title }}</a>
        </div>
      {% else %}
        <p class="text-center p-1">Miaou ! Chat c'est fort tu as vraiment fais un bon score !</p>
        <img src="{{ asset('images/gifs/succes.png') }}" class="card-img-top" id="img-quiz" alt="defeat" />
        <div class="card-body text-center">
          <p>Chatpristi! tu as gagnés une magnifique récompense :</p>
          <a href="{{ path('app_profil') }}" class="btn btn-quiz">Mon profil</a>
        </div>
      {% endif %}
    </div>
  </div>
</section>
{% endblock %}
