{% extends 'base.html.twig' %}

{% block title %}
  QUIZ/{{quiz.title}}
{% endblock %}
{% block body %}
  

  <div class="container-fluid mt-2">
    <div id="scroll-point"> </br> </div>
    <div class="row mb-4" id="scroll-point">
      <h2 class="text-center fw-bolder text-dark p-5 mb-4">Quiz rubrique "{{ quiz.title }}"</h2>
    </div>

    <form action="{{ path('app_quiz_submit', { id: quiz.id, title: quiz.title }) }}" method="post" >
      <div class="container mt-4 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="mb-3">
              <h4>{{ questions.getTextQuestion }}</h4>
              {% for response in questions.responses %}
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="response" id="response{{ response.id }}" value="{{ response.id }}" />
                  <label class="form-check-label" for="response{{ response.id }}">{{ response.getTextResponse }}</label>
                </div>
              {% endfor %}
            </div>
            <div>
              <span id="display-score" class=" position-absolute bottom-0 end-0 badge m-2 p-3 ">Question: {{ offset }} /10</span>
            </div>            
            <div class="d-flex align-items-center">
            {# Btn "suivant" is disable, until the user seletcs a response (js function) #}
              <button type="submit" class="btn btn-rounded btn-quiz" id="nextButton" >suivant</button>
                        
               <div id="alertMessage" class="ms-2" style="display: none; color: red;">
                   Merci de choisir une réponse en premier.
                </div>
            </div>
        </div>
      </div>
    </form>

    <div class="row">
      <div class="col-auto mx-auto mb-4">
        <div class="card" style="width: 18rem;">
          <a href="#">
            <img src="https://i.ibb.co/vXdCWV7/DALL-E-2023-11-22-15-53-02-A-charming-and-animated-scene-inspired-by-Pixar-s-style-showing-a-cartoon.png" class="card-img-top" alt="test" />
            <div class="card-body">
              <p class="card-text fw-bold text-center">{{ quiz.title }}</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('js/quiz-validation.js') }}"></script>
{% endblock %}
