{% extends 'base.html.twig' %}

{% block title %}
  Coffee Lover Quiz "categorie"
{% endblock %}
{% block body %}
  {# {{ dump(questions) }} #}

  <div class="container-fluid mt-2">
    <div id="scroll-point"> </br> </div>
    <div class="row mb-4" id="scroll-point">
      <h2 class="text-center fw-bolder text-dark p-5 mb-4">Quiz rubrique "{{ quiz.title }}"</h2>
    </div>

    <form action="{{ path('app_quiz_submit', { id: quiz.id, title: quiz.title }) }}" method="post">
      <div class="container mt-4 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="mb-3">
              <h4>{{ questions.getTextQuestion }}</h4>
              {% for response in questions.responses %}
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="response" id="response{{ response.id }}" value="{{ response.id }}" />
                  <label class="form-check-label" for="response{{ response.id }}">{{ response.getTextResponse }}</label>
                </div>
              {% endfor %}
            </div>
            <div>
              <p>Score actuel: {{ score }} / 10</p>
              <p>Question: {{ offset }} /10</p>
            </div>

            <button type="submit" class="btn btn-primary">suivant</button>
          </div>
        </div>
      </div>
    </form>

    <div class="row">
      <div class="col-auto mx-auto mb-4">
        <div class="card" style="width: 18rem;">
          <a href="#">
            <img src="https://i.ibb.co/vXdCWV7/DALL-E-2023-11-22-15-53-02-A-charming-and-animated-scene-inspired-by-Pixar-s-style-showing-a-cartoon.png" class="card-img-top" alt="test" />
            <div class="card-body">
              <p class="card-text fw-bold text-center">{{ quiz.title }}</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
