{% extends 'base.html.twig' %}

{% block title %}
  Accueil
{% endblock %}

{% block body %}


<section class="py-3 py-md-5">
	<div class="container overflow-hidden">
		<div class="row g-4">
            {% for article in randomArticle %}
				<div class="col-12"> </br>
					<div class="row align-items-center {% if loop.index is odd %}gx-md-4{% else %}flex-row-reverse gx-xl-5{% endif %} article-card">
						<div class="col-xs-12 col-md-6">
                        
							<div class="img-wrapper position-relative bsb-hover-push">
								<a href="#!">
									<img class="img-fluid rounded" src="https://i.ibb.co/MBGNWWD/ibrick.png" alt="Mobirise Website Builder" >
								</a>
							</div>
						</div>
							<div class="col-xs-12 col-md-6">
								<div>
									<h2 class="h3 mb-3">
										<a class="link-dark text-decoration-none" href="#!">{{article.title}}</a>
									</h2>
								<p class="mb-3">{{ (article.content|slice(0, 150)) ~ '...' }}</p>
								<p class="text-secondary mb-1">Créée le : {{article.created_at|date("d-m-Y")}}</p>
								{% if article.updated_at %}
								<p class="text-secondary mb-1">Mis à jour le : {{article.updated_at|date("d-m-Y")}}</p>
								{% endif %}
								<div class="section-btn mt-3">
									<a href="{{ path('app_article_show', {'categorySlug': article.category_slug, 'articleSlug': article.slug}) }}" class="btn btn-rounded btn-quiz" data-mdb-ripple-init data-mdb-ripple-color="white">Lire la suite</a>
								</div>
								</div>
							</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>     
</section>

 
{% endblock %}
